.sidebar_one, .sidebar_two{
    background: #fff;
}
.sidebar_one h2{
	color: #62a83d;
}
.sidebar_two{
	/* padding: 15px;
	position: relative;
	transition: all .3s linear; */
}









