.sidebar_one, .sidebar_two{
	background: #fff;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.sidebar_one{
	
}
.sidebar_one h2{
	color: #62a83d;
}
.sidebar_two{
	/* padding: 15px;
	position: relative;
	transition: all .3s linear; */
}

@media(max-width: 768px){
    .sidebar_one h2{
		font-size: 18px;
	}
}







