.ProductTitle{
    color: #000!important;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    display: block;
    margin-top: 1rem !important;
    margin-bottom: .5rem;
    cursor: pointer;
}