.best_shop {
    margin-right: 7.5px!important;
    margin-left: 7.5px!important;
    border-bottom: 2px solid #d6fac3;
}
.single_product{
    margin-bottom: 20px;
    transition: all .3s linear;
}
