.banner_section{
	background: #fff;
	height:230px;
	width: 100%;
}
.banner_img{
	background-image: url(../../../assets/img/banner_home.jpg);
	height: 98%;
	width: 98%;
	margin-left: 1%;
}
.border{
	border:1px solid #ddd;
	width: 10%;
	height: 1px;
}
.color_white{
	color: #fff;
}

