.CheckoutSteps{
    display: flex;
    justify-content: space-between;
    width: 25rem;
    margin: 10px auto;
    margin-bottom: -40px;
    margin-top: 30px;
}

.CheckoutSteps > div{
    border-top: .3rem #ebebebc2 solid;
    color: #000;
    flex: 1 1;
    text-align: center;
}

.CheckoutSteps > div.active{
    border-top: .3rem #62a83d solid;
    color: #000;
}