
.menu_header{}

.menu{}

.menu_title{
    display: flex;
    align-items: center;
}
.signle_menu{}

.signle_menu a:hover{
    background: rgb(114, 231, 98);
    color: #fff;
}
.signle_menu a{
    display: block;
    padding: 10px 10px;
    color: #333;
    background: #fff;
    transition: all .3s ease;
    /* border-bottom: 1px solid #ddd; */
}
.signle_menu .menuList{
    overflow: hidden;
    transition: max-height .6s ease;
    padding-left: 15px!important;
}
.signle_menu .menuList li{

}
.signle_menu .menuList li a{
    
}


@media(min-width: 426px){
    .MobileMenu{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

@media(max-width: 425px){
    
    .MobileMenu{
        background: #fff;
        width: 200px;
        padding: 20px 10px;
        position: absolute;
        left: -200px;
        top: 0;
        transition: all .3s ease;
        height: 100%;
        z-index: 9;
        
    }
    .menuactive{
        /* display: block; */
        visibility: visible;
        opacity: 1;
        z-index: 9;
        left: 0px;
    }
}