.Notifier{
    width: 300px;
    height: auto;
    background: #fff;
    padding: 20px 15px;
    border-radius: 3px;
    position: absolute;
    right: -200px;
    top: 0;
    box-shadow: 0 3px 10px rgba(25,17,34,.05);
}