.sectionTitle{
    font-size: 28px;
    font-weight: 600;
    color: rgb(33, 37, 41);
    font-family: 'Montserrat', sans-serif;
    line-height: 33px;
}


@media(max-width: 768px){
    .sectionTitle{
        padding-left: 15px;
        font-size: 22px;
    }
}