.best_shop_section{
	background: #fff!important;
}
.best_heading{
    font-family: inherit;
}
@media(max-width: 425px){
    .item_filters{
        margin: 15px 0px 0px 15px!important;
    }
}