

.addtocart{
	background: #62a83d;
	color: #fff!important;
	border: 0px solid #62a83d;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 16px;
	font-size: 12px;
	transition: all .3s linear;
	border-radius: 3px;
}
.addtocart:hover{
	transform: translateY(2px);
	box-shadow: 0 3px 10px rgba(25,17,34,.05);
	border: 1px solid #d6fac3;
	background: #fff;
	color: #62a83d!important;
}

.single_product .addtocart{
    z-index: 55555;
    position: absolute;
    bottom: 0;
    left: 18%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear
}

.single_product:hover .addtocart{
	visibility: visible;
	opacity: 1;
}